GEMINI_API_KEY=your_gemini_api_key_here
UNSPLASH_ACCESS_KEY=your_unsplash_access_key
GOOGLE_SEARCH_API_KEY=your_google_custom_search_api_key
GOOGLE_SEARCH_CX=your_google_custom_search_engine_id
MONGODB_URI=mongodb+srv://kush282930_db_user:BVOKvCs41PedLYts@cluster0.serqxma.mongodb.net/
MONGODB_DB_NAME=articleship
MONGODB_COLLECTION=articles
# Username
# kush282930_db_user
# Password
# BVOKvCs41PedLYts

# mongodb+srv://kush282930_db_user:BVOKvCs41PedLYts@cluster0.serqxma.mongodb.net/
